* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

:root{
    --pink-color:#E3CCE9;
    --purple-color: #5228B6;
    --black-color: #000000;
    --grey-color: #787878;
}
.header{
    background: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    color: aliceblue;
    font-size: 2rem;
}

.container {
    margin: 0 auto;
    max-width: 990px;
}

.news__content {
    padding:  30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    background: var(--pink-color);
}

.news-card {
    background-color: white;
    background-repeat: no-repeat;
    background-image: url(./img/third.png);
    max-width: 313px;
    width: 100%;
    padding: 240px 20px 15px 20px;
    border-radius: 12px;
}

.news-card__title {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--grey-color);
    margin: 0px 25px 15px 25px;
}

.news-card__text {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
}

.news-card__title::before {
    content: url(./img/Icon.svg);
    position: absolute;
    left: -25px;
    top: 2.5px;
}

.news-card__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px 0px 25px;
}

.news-card__date {
    position: relative;
    left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-color);
}

.news-card__date::before {
    content: url(./img/calendar.svg);
    position: absolute;
    left: -25px;
    top: -2.5px;
}

.news-card__link {
    margin-left: auto;
    position: relative;
    left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--purple-color);
    text-decoration: none;
    transition: background .5s ease-out, color .5s ease-out;
}

.news-card__link:hover {
    color: #E3CCE9;
}

.news-card__link:active {
    background-color: yellow;
}

.news-card__link::after {
    content: url(./img/arrow.svg);
    position: absolute;
    right: -25px;
    top: 1px;
}

.news-card__link::after:hover{
    fill: #E3CCE9;
}

.footer{
    padding: 40px;
    background: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title{
    color: aliceblue;
    font-size: 2rem;
}